<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>
      <div class='col-md-1'></div>
      <div class='mx-auto box-background about-box col-md-10 my-5'>
        <div class='about-message py-5 px-5'>
          <h1 class='about-title'>Hello!</h1></br>
          <h5 class='about-body'>
            数あるサイトから当サイトをお選びいただき、ご利用ありがとうございます！</br>
            当サイト<span class='about-text'> Thanks Collection </span>は輝くあなたを応援します！</br>
            </br>
            沢山の「ありがとう」を<span class='under'>集めるため</span>に当サイトをご活用していただき、</br>
            素敵な笑顔に出会えるお手伝いが出来たら嬉しく思います。</br>
            </br>
            どんな時もあなた自身の笑顔も忘れずに。</br>
            <br>
            <span class='about-text'>Thanks Collection </span>があなたにとって</br>
            幸せがいっぱい詰まったタカラモノになれますように。</br>
          <%= link_to info_path, class: 'fas fa-angle-double-right fa-2x icon-link icon-link-info', local: true do %>
          <% end %>
          </h5>
        </div>
      </div>
      <div class='col-md-1'></div>
    </div>
  </div>
</div>