<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>
      <div class='col-md-1'></div>
      <div class='mx-auto box-background message-box col-md-10 my-5'>
        <div class='message-overall py-5 px-5'>
          <h1 class='message-title'>Hello!</h1></br>
          <h5 class='message-body message-font-size'>
            数あるサイトから当サイトをお選びいただき</br>
            ご利用ありがとうございます！</br>
            <span class='message-text'> Thanks Collection </span>は輝くあなたを応援します！</br>
            </br>
            沢山の「ありがとう」を<span class='under-blue'>集めるため</span>に</br>
            当サイトをご活用していただき</br>
            素敵な笑顔に出会えるお手伝いが出来たら</br>
            とても嬉しく思います。</br>
            </br>
            どんな時もあなた自身の笑顔も忘れずに。</br>
            <br>
            <span class='message-text'>Thanks Collection </span>があなたにとって</br>
            幸せがいっぱい詰まった</br>
            タカラモノになれますように。
          <%= link_to info_path, class: 'fas fa-angle-double-right fa-2x icon-link icon-link-info mt-3', local: true do %>
          <% end %>
          </h5>
        </div>
      </div>
      <div class='col-md-1'></div>
    </div>
  </div>
</div>