<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>
      <div class='col-md-1'></div>
        <div class='mx-auto box-background message-box col-md-10 my-5'>
          <div class='message-overall py-5 px-5'>
            <h1 class='message-title'>Information</h1></br>
            <h5 class='message-body-info message-font-size'>
              当サイトは<span class='under-blue'>お客様情報管理・簡易カルテ</span>としてご利用いただけます。</br>
              使い方はユーザー次第、</br>
              誰の目を気にすることなく自由に投稿できるツールです。</br>
              </br>
              ※ヘッダーのナビゲーションにある<span class='message-text-info'>Guest-login</span>から</br>
              　メールアドレスとパスワードを入力せずに<span class=''>閲覧用アカウント</span>でログイン可能です。</br>
              　<span class='under-solid-line'>閲覧用アカウントでご覧いただける投稿はPF製作者によって作成されたものです。</span></br>
              </br>
              以下はログイン後の使用方法です。</br>
              ヘッダーのナビゲーション順に説明を記載しております。</br>
              </br>
              <span class='under-pink'>Home >> ホーム画面</span></br>
                ログイン後は「Only one goal for today!」の「go」リンクから</br>
                このサイト説明ページをご確認いただけます。</br>
              </br>
                営業開始前に「Please enter the text!」の入力フォームに</br>
                今日の目標や心構えなどをひとつだけ入力し、</br>
                「Try!」ボタンから投稿してください。</br>
                投稿された内容は入力フォームの上部に表示されます。</br>
                営業終了後に入力した内容を見直し、</br>
                反省後に内容横のチェックボタンで内容を削除してください。</br>
              </br>
                投稿したカルテ一覧は新しい順でホーム画面に表示されます。</br>
                カルテ一覧の左側にある「Check」のハートは</br>
                営業後に修正や追加情報が必要なお客様をチェックしておくなどの</br>
                簡単な目印としてご自由にご利用ください。</br>
              </br>
                カルテ一覧の「Guest Name」の下にあるお客様の名前リンクから</br>
                カルテ詳細画面へ移りお客様情報の確認が可能です。</br>
              </br>
              <span class='under-pink'>New >> カルテ新規投稿</span></br>
                ・<span class='under-dotted-line'>カルテ番号（数字以外も入力可能）</span></br>
                ・<span class='under-dotted-line'>名前</span></br>
                ・<span class='under-dotted-line'>名前ふりがな</span></br>
                ・<span class='under-dotted-line'>電話番号</span></br>
                ・住所</br>
                ・生年月日</br>
                ・<span class='under-dotted-line'>性別</span></br>
                ・アレルギー</br>
                ・職業</br>
                ・<span class='under-dotted-line'>日時</span></br>
                ※点線は入力必須項目です。</br>
                　こちらで入力した情報はカルテ詳細画面の</br>
                　<span class='fas fa-edit'></span>リンクから編集、<span class='fas fa-trash-alt'></span>リンクから削除可能です。</br>
                　一度削除したカルテは元に戻すことが出来ないのでご注意ください。</br>
              </br>
              <span class='under-pink'>Home >> Guest Name >> カルテ詳細画面</span></br>
                お客様がご来店の度にカルテ詳細画面から追加情報を投稿してください。</br>
                覚えておきたいお客様とのやりとりや記録しておきたい事柄を</br>
                なるべく細かく自分の言葉で書き記し、見える化しましょう！</br>
              </br>
                日時は自由形式で入力可能です。</br>
                （例：2021/04/1(木) 11:00~12:00 / ４月１日木曜日 １１時から１２時頃 /</br>
                　　　Thursday, April 1th, 2021, 11:00 am など）</br>
              </br>
                タグ入力は必須ではありませんが</br>
                メニューなどをタグ付けしておくとわかりやすいかと思います。</br>
                入力する際はカンマ区切りで複数登録が可能です。</br>
                （例：カット,カラー　など）</br>
              </br>
                画像（一枚）投稿可能です。</br>
                未入力の場合はデフォルトの「No Image」が表示されます。</br>
              </br>
                <span class="far fa-star"></span>はお客様のスマイル度<span class='far fa-smile'></span><span class='far fa-grin-squint'></span><span class='far fa-grin-hearts'></span>を入力してください。</br>
              </br>
                投稿した内容はカルテ詳細画面の右側にひとつずつ表示されます。</br>
                画像上の<span class='fas fa-edit'></span>リンクから編集、<span class='fas fa-trash-alt'></span>リンクから削除可能です。</br>
                一度削除したカルテは元に戻すことが出来ないのでご注意ください。</br>
              </br>
              <span class='under-pink'>Schedule >> 簡易スケジュール帳</span></br>
                カレンダー上部の入力フォームからタイトル、内容、開始日時を入力し</br>
                「Create!」ボタンから投稿してください。</br>
                投稿した内容はカレンダー内に表示されます。</br>
                表示されたタイトルリンクから詳細画面へ移り、</br>
                内容のご確認と内容の編集・削除が可能です。</br>
              </br>
              <span class='under-pink'>My-page >> アカウント情報編集画面</span></br>
                名前とメールアドレスの更新が可能です。</br>
                ※閲覧用アカウントは更新不可</br>
              </br>
              <span class='under-pink'>Search >> 検索機能</span></br>
              カルテは並び替え付き検索機能でいつでもご確認いただけます。</br>
              </br>
              <span class='under-dashed-line'>通常検索の場合</span></br>
              1.一番左の入力フォームに検索ワードを入力（カルテ番号や名前の一部）</br>
              2.カルテ番号、または名前を選択</br>
              3.完全一致、前方一致、後方一致、部分一致のいずれかを選択</br>
              　※2,3は一番左の入力フォームに入力したワードに対して選択してください。</br>
              4.タグ入力(,区切りで複数のタグ検索対応、未入力でも検索可能)</br>
              5.新しいお客様、古いお客様、</br>
              　追加情報数が多いお客様、少ないお客様のいずれかを選択（並び替え）</br>
              </br>
              <span class='under-dashed-line'>タグ検索のみをご希望の場合</span></br>
              1.タグ入力(,区切りで複数のタグ検索対応)</br>
              2.新しいお客様、古いお客様、</br>
              　追加情報数が多いお客様、少ないお客様のいずれかを選択（並び替え）</br>
              　上記のみを入力し、その他は未入力</br>
              </br>
              <span class='under-dashed-line'>全てのお客様をご確認いただく場合</span></br>
              1.新しいお客様、古いお客様、</br>
              　追加情報数が多いお客様、少ないお客様のいずれかを選択（並び替え）</br>
              　上記の並び替えのみを選択し、その他は未入力</br>
              </br>
              <span class='under-pink'>ひとこと</span></br>
                最後まで目を通していただき、本当にありがとうございます！</br>
                些細なやりとりであっても「覚えてくれている」というのは</br>
                お客様にとってとても嬉しいものです。</br>
                このサイトを利用する時間があなた自身を見つめ直す時間にもなり、</br>
                ただ"仕事だから"と業務的に顧客情報を管理するのではなく</br>
                お客様を知って上質な人間関係を築き</br>
                お客様に喜んでいただける空間作りに役立つツールになれたら</br>
                とても嬉しく思います<span class='far fa-laugh'></span></br>
              </br>
              <span class='message-text'> Thanks Collection </span> >> Github <%= link_to 'README.md', 'https://github.com/nnkrbyok-kxxrin/thanks_collection', class: 'text-link' %>
              </br>
              <%= link_to about_path, class: 'fas fa-angle-double-left fa-2x icon-link icon-link-about mt-3', local: true do %>
              <% end %>
            </h5>
          </div>
        </div>

        <div id='page_top'><a href='#wrap'></a></div>

      <div class='col-md-1'></div>
    </div>
  </div>
</div>