<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>
      <div class='col-md-1'></div>
      <div class='mx-auto box-background about-box col-md-10 my-5'>
        <div class='about-message py-5 px-5'>
          <h1 class='about-title'>Information</h1></br>
          <h5 class='about-body'>
          </h5>
        </div>
      </div>
      <div class='col-md-1'></div>
    </div>
  </div>
</div>