<!--<style>-->
<!--.background {-->
<!--    background-image: image-url('billy-huynh-v9bnfMCyKbg-unsplash.jpg');-->
<!--    background-size: cover;-->
<!-- }-->
<!--</style>-->

<!--%= image_tag '/assets/billy-huynh-v9bnfMCyKbg-unsplash (1)', :size =>'1100x600', class: 'top-image' %>-->


<div class="background"></div>