<div class="background">
  <div class="container">
    <div class="row">
      <div class="top-message mx-auto my-5 pt-5">
          My Favorite Things</br>
          of</br>
          Smile!!
      </div>
    </div>
  </div>
</div>