/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';



// 背景画像関係
.wrapper {
  // 1画面に収める
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // 縦並べ
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  position: relative;
}

.background {
  background-image: image-url('billy-huynh-v9bnfMCyKbg-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

// .fw-normal{
//   margin-top: 120px;
// }

.box-background{
  background-color: white;
  border-color: gray;
  color: gray;

  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
}

// フッター
footer{
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans JP', sans-serif;
  color: #444444;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
}

// トップページ以外用フォント
.text-font{
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}

// 文字
.text{
  color: #444444;
}

// 文字リンク
.text-link{
  text-decoration: none;
  color: gray;
}

// アイコンリンク
.icon-link{
  text-decoration: none;
  color: gray;
}

// トップページ
.top-message{
  font-family: 'Caveat', cursive;
  color: #444444;
  font-size: 15ex;
  text-align: center;
}

// 検索
.search-form-in{
  border: 1px solid;
  color: gray;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
  padding: 5px;
}

.search-select{
    box-sizing: border-box;
    color: gray;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 5px;
    padding: 5px;
}

// 今日の目標(お客様一覧ページ)
.task-table{
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  border-color: gray;
}

.task{
  color: gray;
}

// aboutリンク
.about-link{
  color: #FF82B2;
}

// ブックマーク（いいね）
.icon-heart{
  color: #FF82B2;
}

// ページネーション
.page-item{
  color: gray;
}

.page-link{
  color: gray;
}

// エラーメッセージ
.errors-message{
  color: #444444;
}

// お客様一覧・検索結果一覧テーブル
.table-customize{
  border-color: gray;
  color: gray;
}

table {
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  border-color: gray;
}
table thead th,
table tbody th,
table tbody td {
  padding: .6em 3em;
  border-bottom: 1px solid;
}
// 下記８行、table-hoverを指定する際は不要
// table thead th {
// }
// table tbody th {
// }
// table thead th + th,
// table tbody td {
//   border-left: 1px solid;
// }
table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}
table thead tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}
table thead tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}
table tbody tr:last-child th:first-child {
  border-radius: 0 0 0 5px;
}
table tbody tr:last-child th:last-child {
  border-radius: 0 0 5px 0;
}

// お客様情報追加の画像
img {
width: 100%;
max-width: 100%;
height: auto;
}