/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';



// 背景画像関係
.wrapper {
  // 1画面に収める
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // 縦並べ
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  position: relative;
}

.background {
  background-image: image-url('billy-huynh-v9bnfMCyKbg-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.box-background{
  background-color: white;
  border-color: gray;
  color: gray;

  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;

// // 画面サイズが480pxまでの幅の場合に適応される
@media screen and (max-width:480px) {
.box-background{
  background-color: white;
  border-color: gray;
  color: gray;

  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  }}
}
// ここまで

// トップページ
.top-message{
  font-family: 'Caveat', cursive;
  color: #444444;
  font-size: 15ex;
  text-align: center;
}

// フッター
footer{
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans JP', sans-serif;
  color: #444444;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
}

// フラッシュメッセージ(Guest-login)
.notice-guest-login{
  color: #444444;
}

// フラッシュメッセージ(My-page)
.notice-my-page{
  color: gray;
}

// エラーメッセージ（devise）
.errors-message-devise{
  color: #444444;
}

// エラーメッセージ（Post）
.errors-message-post{
  color: #444444;
}

// トップページ以外 フォント
.text-font{
  font-family: 'Caveat', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}

// 文字
.text{
  color: #444444;
}

// 編集フォーム文字
.text-edit{
  color: #gray;
}

// 文字リンク
.text-link{
  text-decoration: none;
  color: gray;
}

// 文字下線（マーカー風）
.under-blue{
  // text-decoration : underline;
  background: linear-gradient(transparent 50%, #CCFFFF 50%);
}

// 文字下線（マーカー風）
.under-pink{
  // text-decoration : underline;
  background: linear-gradient(transparent 50%, #FFDDFF 50%);
}

// 文字下線（直線）
.under-solid-line{
  border-bottom: solid 3px #FF97C2;
}

// 文字下線（点線）
.under-dotted-line{
  border-bottom: dotted 3px #BBFFFF;
}

// 文字下線（破線）
.under-dashed-line{
  border-bottom: dashed 3px #BBFFFF;
}

// アイコンリンク
.icon-link{
  text-decoration: none;
  color: gray;
}

// aboutリンク
.about-link{
  color: #FF82B2;
}

// about/infoページ
.message-overall{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.message-title{
  color: #666666;
}

.message-body{
  line-height: 1.5;
}

.message-body-info{
  line-height: 1.5;
  text-align: left;
}

.message-text{
  color: #FF82B2;
}

.message-text-about{
  color: #BBBBBB;
}

.message-text-info{
  color: #FF69A3;
}
// ここまで

// infoリンク
.icon-link-info{
  margin-left: 90%;
}

// aboutリンク
.icon-link-about{
  margin-right: 90%;
}

// スクロールボタン
#page_top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: gray;
  opacity: 0.6;
  border-radius: 50%;
}

#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: white;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
// ここまで

// タスクテーブル
.task-table{
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  border-color: gray;
}

.task{
  color: gray;
}
// ここまで

// タスクフォーム
.task-form{
  width: 100%;
  margin: 0 auto;
}

// タスクボタン
.task-btn{
  width: 100%;
  margin: 0 auto;
}

// ブックマーク（いいね）
.icon-heart{
  color: #FF82B2;
}

// ページネーション
.page-item{
  color: gray;
}

.page-link{
  color: gray;
}

// 画面サイズが480pxまでの幅の場合に適応される
@media screen and (max-width:480px) {
  .message-font-size{
    font-size: 3vw;
    line-height: 1.5;
  }

  .page-link{
    color: gray;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
}}
// ここまで

// お客様一覧・検索結果一覧テーブル
.table-customize{
  border-color: gray;
  color: gray;
}

table {
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  border-color: gray;
}
table thead th,
table tbody th,
table tbody td {
  padding: .6em 3em;
  border-bottom: 1px solid;
}
// 下記８行、table-hoverを指定する際は不要
// table thead th {
// }
// table tbody th {
// }
// table thead th + th,
// table tbody td {
//   border-left: 1px solid;
// }
table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}
table thead tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}
table thead tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}
table tbody tr:last-child th:first-child {
  border-radius: 0 0 0 5px;
}
table tbody tr:last-child th:last-child {
  border-radius: 0 0 5px 0;
}
// ここまで

// posts画像
.image-guest{
  width: 100%;
  max-width: 100%;
  height: auto;
}

// カレンダー
.calendar-color{
  color: gray;
  background-color: white;
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  border-color: gray;
}

// 今日の目標(guests一覧ページ)
// 画面サイズが480pxまでの幅の場合に適応される
@media screen and (max-width:480px) {
  .font-size{
    font-size: 22px;
}}

// マイページ
.my-page-link{
  margin-left: auto;
}

// プレースフォルダー
/* for Webkit */
.form-control::-webkit-input-placeholder{
    color: #CCCCCC;
}

/* for Firefox */
.form-control::-moz-placeholder{
    color: #CCCCCC;
}

/* for Firefox 18以前 */
.form-control:-moz-placeholder{
    color: #CCCCCC;
}

/* for Windows IE */
.form-control:-ms-input-placeholder{
    color: #CCCCCC;
}

input::placeholder,
text_field::placeholder {
	color: #CCCCCC;
}

/* Edge */
input::-ms-input-placeholder,
text_field::-ms-input-placeholder {
	color: #CCCCCC;
}

/* IE11 & IE10 */
input:-ms-input-placeholder,
text_field:-ms-input-placeholder {
	color: #CCCCCC;
}
// ここまで

// 検索
.search-form-in{
  border: 1px solid;
  color: gray;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
  padding: 5px;
}

.search-select{
  box-sizing: border-box;
  color: gray;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
  padding: 5px;
}

.search-btn{
  border: 1px solid;
  background-color: white;
  color: gray;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
  padding: 0.365rem 0.65rem;
}
// ここまで