<!--ゲストログインの場合のみフラッシュメッセージを表示する-->
<% if Admin.guest == current_admin %>
  <div class='Notification'>
    </br>
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% else flash[:alert] %>
        <%= flash[:alert] %>
    <% end %>
  </div>
<% end %>