<!--ゲストログインの場合のみフラッシュメッセージを表示する-->
<% if Admin.guest == current_admin %>
  <div class='notice-guest-login text-font'>
    </br>
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
  </div>
<% end %>